<launch>

  <!-- Serial port parameters -->
  <arg name="port" default="/dev/serial/by-id/usb-Arduino_LLC_Arduino_Micro-if00"/>
  <arg name="baud" default="115200"/>

  <!-- rosserial Python node -->
  <node pkg="rosserial_python"
        type="serial_node.py"
        name="rosserial_actuator"
        output="screen">

    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>

  </node>

</launch>
